label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

#regionSelect {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#animalList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.animal-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.animal-card:hover {
    transform: scale(1.05);
}

.animal-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.animal-card h3 {
    color: #333;
    margin-top: 10px;
    font-size: 18px;
}

.animal-card p {
    color: #777;
    font-size: 14px;
}

@media (max-width: 768px) {
    #regionSelect {
        font-size: 14px;
    }

    .animal-card {
        width: 100%;
        margin-bottom: 20px;
    }
}